{% extends 'base.html' %}
{% load i18n %}

{% block headline %}{% block title %}{% if repositories %}{% trans 'Latest public repositories' %}{% else %}{% trans 'There is no public repositories right now' %}{% endif %}{% endblock %}{% endblock %}

{% block content %}
    <ul>
    {% for repository in repositories %}
        <li>
            <a href="{% url vcs-watch-repository repository.hash %}">{{repository.url}}</a>
            {% if repository.last_rev %}
                {% trans 'updated at' %} {{repository.updated_at}}, {% trans 'revision' %} {{repository.last_rev}}
            {% else %}
                {% trans 'added at' %} {{repository.created_at}}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    <a href="{% url vcs-watch-add %}">{% trans 'Add new watch' %}</a>
{% endblock %}

