{% extends 'base.html' %}
{% load i18n syntax_color %}

{% block style %}
    {{block.super}}
    {% pygments_css %}
    ul.revisions li {border-top: 2px solid black; list-style: none;}
    span.rev, span.date, span.author {float: left; right-padding: 2em; margin-right:1em;}
    p.message {clear: left; margin-top: 2em; background-color: lightgray;}
    .highlight {overflow: hidden;}
{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{object.get_rss_url}}" />
{% endblock %}


{% block headline %}{% block title %}{% trans 'Last changes from' %} {{object.url}}{% endblock %}{% endblock %}

{% block content %}
    {{block.super}}
    {% if object.revision_set.count %}
        <ul class="revisions">
        {% for diff in object.revision_set.all %}
            <li>
            <span class="rev">{% trans 'Revision' %}:&nbsp;{{diff.rev}}</span>
            <span class="date">{% trans 'Date' %}:&nbsp;{{diff.date}}</span>
            <span class="author">{% trans 'Author' %}:&nbsp;{{diff.author}}</span>
            <p class="message">{{diff.message}}</p>

            {{diff.diff|colorize:"diff"}}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <h2>{% trans 'Please, wait while we download all diffs for this repository.' %}</h2>
        <p>
        {% url vcs-watch-add as add_url %}
        {% blocktrans with object.get_rss_url as rss %}
        Now you can <a href="{{rss}}"> subscribe on RSS feed</a>, to receive all updated in time. Or <a href="{{add_url}}">add another repository</a>.
        {% endblocktrans %}
        </p>
    {% endif %}
{% endblock %}

